.DS_Store
.AppleDouble
.LSOverride

*~

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.sln.iml

bin/
obj/
[Bb]uild/
[Ll]og/
*.log

artifacts/
publish/

TestResults/
*.trx
*.coverage
*.coveragexml
coverage/
.coverage
.coverage.*
.vs/TestStore/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

packages/
~/.nuget/packages/
*.nupkg
*.snupkg
.nuget/

_ReSharper*/
*.DotSettings.user
resharper-host/*
JetBrains.ReSharper*/
*.idea/

_NCrunch_*
.*crunch*.local.xml

*.Designer.cs

appsettings.Local.json
appsettings.Development.Local.json
appsettings.*.local.json

.env
.env.*
!.env.example

## === Tools / analyzers / reports ===
*.sarif
report.html
StyleCopReport.xml

/.vscode/*.code-workspace
*.opendb
*.VC.db

docker-compose.override.yml
docker-compose.*.local.yml
