<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>coverage/TestResults</ResultsDirectory>
    <TestCaseFilter>Category!=Architecture</TestCaseFilter>
    <CollectDiagnostics>0</CollectDiagnostics>
    <CollectTrx>False</CollectTrx>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,lcov</Format>
          <CoverletOutput>coverage/coverage</CoverletOutput>
          <Exclude>[xunit.*]*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
